<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd htp://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<bean id="stu1" class="com.takeo.pojo.Student">
		<property name="sno"><value>101</value></property>
		<property name="sname" value="Ram"/>
	</bean>
	
	<!--
	<bean id="stu2" class="com.takeo.pojo.Student">
		<property name="sno" value="102"/>
		<property name="sname" value="Krishna"/>
	</bean>
	-->
	
	<bean id="col" class="com.takeo.pojo.College" autowire="constructor">
		<property name="name"><value>NIC College</value></property>
	</bean>
	
</beans>